# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://USERNAME:PASSWORD@localhost:5432/DATABASE?schema=public"

# Docker Config
POSTGRES_USER=
POSTGRES_PASSWORD=

# JWT Config
JWT_SECRET=

# Nodemailer Config
EMAIL_SERVICE=
EMAIL_USER=
EMAIL_PASS=
EMAIL_HOST=
EMAIL_PORT=

# DB Default Admin User (Please consider changing the password after database setup)
DEFAULT_ADMIN_EMAIL=
DEFAULT_ADMIN_PASSWORD=

# Cors Config
WEBAPP_HOST="http://localhost:5173"
